  @media screen and (max-width: 980px) {
      .hero-section {
          display: block;
          box-shadow: unset;
      }

      .hero-content {
          background: #fff;
          color: #000;
          padding: 20px;
      }

      .hero-content::after {
          content: unset;
      }

      .hero-content .btn-signup {
          display: none;
      }

      .hero-headline {
          font-size: 4.5rem;
          white-space: normal;
          font-weight: 700;
      }

      .hero-text {
          width: unset;
          font-size: 1.5rem;
      }

      .hero-img {
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .hero-img img {
          border-radius: 10px;
          margin: 0 0 0 0;
          margin-top: 20px;
      }

      .hero-section>.btn-signup {
          display: block;
          margin: 32px auto 10px;
          padding: 15px 50px;
      }

      .copyrights {
          margin-top: 40px;
          text-align: center;
      }
  }

  @media screen and (max-width: 768px) {
      .topnav a {
          overflow: hidden;
      }

      .topnav a {
          display: none;
      }

      .topnav a.icon {
          float: right;
          display: block;
      }

      .header-logo>img {
          width: 80%;
      }

      .topnav.responsive {
          position: relative;
      }

      .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
      }

      .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
      }

      .main-navbar {
          position: absolute;
          right: 0;
          background: white;
          z-index: 2;
      }

      .topnav.responsive .main-navbar {
          box-shadow: 0 0 2px 1px rgb(255, 0, 0, 0.1);
      }

      .topnav i {
          color: red;
      }

      .topnav a:hover i {
          color: white;
      }

      .topnav.responsive i {
          color: white;
      }

      .hero-headline {
          font-size: 3.5rem;
      }

      .hero-text {
          font-size: 1.2rem;
          margin-top: 30px;
      }
  }

  @media screen and (max-width: 540px) {
      .hero-content {
        overflow-wrap: anywhere;
      }

      .hero-headline {
          font-size: 2.6rem;
      }

      .hero-text {
          font-size: 1.1rem;
      }

      .copyrights {
          font-size: 0.9rem;
      }
  }

  @media screen and (max-width: 460px) {
      .hero-headline {
          font-size: 2.4rem;
      }

      .hero-text {
          font-size: 1rem;
          margin-right: 50px;
      }

      .copyrights {
          font-size: 0.9rem;
      }
  }

  @media screen and (max-width: 392px) {
      .hero-headline {
          font-size: 2rem;
      }

      .hero-text {
          font-size: 0.9rem;
          margin-right: 80px;
      }

      .copyrights {
          font-size: 0.7rem;
      }

      .hero-section {
          margin-bottom: -15%;
      }
  }